<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'欢迎你'+${who}"></p>
<table>
    <tr>
        <td>作业名称</td>
        <td>作业要求</td>
        <td>选择文件</td>
        <td>操作</td>
    </tr>
  <tr th:each="job : ${jobs}">
    <td th:text="${job.jname}"></td>
    <td th:text="${job.jobdetail}"></td>
    <form method="post" th:action="@{/student/homework(who=${who},jname=${job.jname},cname=${job.cname},account=${account})}" enctype="multipart/form-data">
    <td><input type="file" name="file"></td>
      <td><input type="submit" value="提交"></td>
    </form>
  </tr>
</table>
<details>
    <summary>已提交的作业</summary>
<table>
    <tr>
        <td>作业名称</td>
        <td>分数</td>
    </tr>
    <tr th:each="homework : ${homeworks} ">
        <td th:text="${homework.jname}"></td>
        <td th:text="${homework.score}"></td>
    </tr>
</table>
</details>
</body>
</html>